*{
    font-family: 'Oswald', sans-serif;
}
body{
    margin: 0
}
.NavBar{
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    background-color: aqua;
}
.Title{
    justify-content: center;
    height: 15vh;
    width: 100vw;
    display:flex;
    align-items: center;
    text-align: center;
    font-size: 10vh;
    text-decoration: none;
    color: black
}
.FirstHalf{
    width: 50%;
    height: 5vh;
    display: flex;

}
.SecondHalf{
    width: 50%;
    height: 5vh;
    display: flex;
    justify-content: right;

}
.NavButton{
    padding: 0 1vw;
    text-decoration: none;
    color: black;
    text-align: center;
    align-items: center;
    height: 100%;
    width: auto;
    display: flex;
}
.NavButton:hover{
    transition: .25s;
    color: white;
    background-color: darkcyan;

}
.navbar{
    display: flex;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}
.TypingInput{
    display: flex;
    flex-direction: column;
    padding: 2vh;
    text-align: center;
}
button{
    display: flex;
}
.submitcontain{
    display: flex;
    justify-content: center;
    align-items: center;
}
.LowerValue{
    display: flex;
    width: 100vw;
    height: 85vh;
    flex-direction: column;
    overflow: auto;
    align-self: center;
    align-items: center;
    text-align: center;

}
.WorkoutContainer{
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: fit-content;
    background-color: dimgray;
    border-radius: 10px;
    padding: 1vh;
    margin: 1vh;
}
.WorkoutTitle{
    font-size: 3vh;
    font-weight: bold
}
.WorkoutActivities{
    display: flex;
    width: fit-content;
}
.activitiesContainer{
    display: flex;
    width: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

